* {
    /* background-attachment: fixed; */
    background-color: rgb(200, 150, 175);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(50, 12, 46);
    text-align: center;
    margin: 2%;
}
#calculator {
    margin: 0 auto;
    width: 500px;
    border: 3px solid rgb(119, 1, 24);
    padding: 30px;
    margin-inline-start: auto;
  }
  #calculator input {
    width: 100%;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 7px;
  }

  #calculator button {
    width: 80px;
    margin:  3%;
    padding: 30px;
    font-size: 18px;
    border: none;
    border-radius: 1px;
    background-color: #ec9acf;
    cursor: pointer;
  }

  #calculator button:hover {
    background-color: #552340;
  }